* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
body {
  overflow-x: hidden;
}
/* navbar */
.navbar {
  margin: 1.3rem 15px;
  text-align: center;
}
.navbar-brand img {
  max-height: 40px;
  vertical-align: middle;
}
.navbar-nav .nav-item {
  padding: 0 10px;
}
.navbar-nav .nav-link {
  color: black;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar-nav .nav-link:hover {
  color: #71a894;
}
.navbar-nav .nav-link.nav-end {
  color: #71a894;
}
.d-none {
  font-size: 32px;
  font-weight: 700;
}
/* header */
.header {
  margin-top: 20px;
}
@font-face {
  font-family: Bely Display W00 Regular;
  src: url(font/Bely\ Display\ W00\ Regular.woff2);
}
.header h1,
.header span {
  font-family: "Bely Display W00 Regular";
  font-size: 50px;
}
.header h1 span {
  color: #71a894;
  border-bottom: 5px solid;
}
.item-left {
  margin: 20px 0;
}
.item-left p {
  padding-top: 10px;
  color: #66645e;
  font-size: 24px;
  max-width: 608px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
}
.item-left button {
  color: #fff;
  margin-top: 30px;
  background-color: #71a894;
  border: 0;
  border-radius: 8px;
  padding: 24px 20px;
}
.item-right {
  background: #f3f0ea;
  border-radius: 53% 47% 70% 30% / 26% 19% 81% 74%;
  margin-top: 20px;
}

.img-fluid {
  width: 100%;
  height: auto;
}
/*header */
.title {
  margin-top: 20vh;
  text-align: center;
}
.title h1 {
  font-size: 50px;
  font-family: "Bely Display W00 Regular", sans-serif;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  margin: 0 auto;
  animation: typing 3s steps(40, end) 1s forwards,
    cursor 0.5s step-end infinite alternate;
  line-height: 1.4;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 68%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
.title p {
  font-size: 16px;
  margin: 10px auto 0;
  display: block;
  font-weight: 600;
  max-width: 865px;
  text-align: left;
}

/* Cards */
.cards {
  max-width: 1328px;
  width: auto;
  margin: 12vh auto 0;
  cursor: pointer;
}
.icon1:hover,
.icon2:hover,
.icon3:hover {
  transform: translateY(-20px);
}
.icon1,
.icon2,
.icon3 {
  transition: transform 0.5s;
  height: 100%;
  width: 100%;
}
.icons h3 {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 600;
}
.icons p {
  font-size: 13px;
  max-width: 500px;
  margin: 0 auto;
}
.icons img {
  background-color: #f3f0ea;
  border-radius: 50%;
  max-width: 88px;
}
.icon1,
.icon2,
.icon3 {
  padding: 70px 0;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #f4f4f4;
}
/* info */
.info {
  margin-left: 5rem;
}
.info h1 {
  font-family: Bely Display W00 Regular;
  font-size: 48px;
}
.info p {
  padding-top: 10px;
  max-width: 644px;
  font-weight: 600;
  font-size: 18px;
}
/* member-widget */
.Member-widget {
  margin-top: 5vh;
  padding: 0 1rem;
}

.Member-box {
  border: 4px solid black;
  padding: 25px;
  width: 60%;
  margin-left: 10rem;
  border-radius: 16px;
  box-shadow: 15px 15px 1px #71a894;
}

.Member-widget h2 {
  font-family: "Cousine-Regular", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  padding-left: 7px;
}

.Member-widget img {
  width: 80px;
}

.member-item {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 15px;
}

.member-title {
  margin: 0 15px;
}

.member-title h4 {
  font-family: "Cousine-Regular", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}

.member-title p {
  color: #66645e;
  font-size: 16px;
  margin-top: -2px;
}
/* card2 */
@font-face {
  font-family: Cousine-Regular;
  src: url(font/Cousine-Regular.woff2);
}
.card2 {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.proposal-widget {
  border: 4px solid black;
  border-radius: 16px;
  width: 80%;
  font-family: Cousine-Regular;
  padding: 10px 20px 20px 10px;
  margin-bottom: 20px;
  text-align: center;
}

.proposal-message p {
  padding-top: 10px;
  max-width: 400px;
  font-family: Cousine-Regular;
  margin: auto;
}

.personal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 6rem 0;
  font-size: 16px;
  padding-top: 10px;
}

.proposal-widget button {
  font-size: 18px;
  border-radius: 16px;
  padding: 10px 100px;
  color: #fff;
  background-color: #303031;
}

.card2-info {
  margin-top: 2rem;
  margin-left: 5rem;
}
.card2-info p {
  max-width: 500px;
  font-family: Cousine-Regular;
}
.card2-info h1 {
  font-family: "Bely Display W00 Regular";
  font-size: 36px;
}

/* card3 */
.card3 {
  margin-bottom: 5rem;
}
.card3-info {
  margin-left: 0;
  position: relative;
  top: 13rem;
  margin-bottom: 3rem;
}

.card3-info h1 {
  font-size: 36px;
  font-family: "Bely Display W00 Regular";
}

.card3-info p {
  padding-top: 10px;
  font-size: 18px;
  max-width: none;
}

.card3-info img {
  padding-bottom: 15px;
  max-width: 80%;
  margin: 0 auto;
}

.top-card {
  margin-bottom: -6rem;
  border: 4px solid black;
  margin-left: 6rem;
  border-radius: 16px;
  padding: 40px 30px 20px 20px;
  box-shadow: 5px 10px 0 #71a894;
}

.top-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.top-card-header h4 {
  font-family: Cousine-Regular;
  font-size: 18px;
}

.top-discriptiom p {
  max-width: 400px;
  font-size: 16px;
  padding-left: 20px;
}

.top-card-header button {
  border: 0;
  outline: 0;
  color: #fff;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 16px;
  background-color: #71a894;
  margin-right: 3rem;
}

.bot-cards {
  gap: 20px;
  justify-content: flex-end;
}

.card-left {
  border: 4px solid black;
  border-radius: 16px;
  margin-right: 1rem;
  margin-bottom: 12rem;
  padding-bottom: 30px;
  padding-top: 10px;
  background-color: #f3f0ea;
}

.card-left h4 {
  font-family: Cousine-Regular;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  padding-left: 23px;
}

.card-left-member1,
.card-left-member2,
.card-left-member3 {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

.card-left-member1-name,
.card-left-member2-name,
.card-left-member3-name {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-bottom: 10px;
}
.card-left-member1-name .star,
.card-left-member2-name .star,
.card-left-member3-name .star {
  position: absolute;
  right: 25%;
}
.card-left-member1 img,
.card-left-member2 img,
.card-left-member3 img {
  width: 40px;
}

.card-left-member1 p,
.card-left-member2 p,
.card-left-member3 p {
  font-size: 20px;
}

.card-left-member1 p {
  padding-left: 50px;
}

.card-left-member2 p {
  padding-left: 60px;
}
.card-left-member1 h2,
.card-left-member2 h2,
.card-left-member3 h2 {
  font-size: 20px;
  max-width: 200px;
}

.card-right {
  border: 4px solid #71a894;
  text-align: center;
  border-radius: 14px;
  padding: 20px;
  position: relative;
  bottom: 4rem;
  padding-bottom: 40px;
  right: 1rem;
}

.card-right img {
  padding-bottom: 10px;
  max-width: 100%;
}

.card-right h3 {
  font-size: 18px;
  font-family: Cousine-Regular;
  font-size: 20px;
  font-weight: 600;
}

.card-right p {
  font-family: Cousine-Regular;
  font-size: 16px;
  color: #66645e;
}

.card-right-discription {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.card-right-discription p {
  color: black;
}
.card-right button {
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #303031;
  padding: 8px 40px;
  border-radius: 16px;
}
/* Enterprice */
.Enterprice h1 {
  font-size: 36px;
  font-family: Bely Display W00 Regular;
  text-align: center;
  margin-top: 5rem;
}
.Enterprice-tasks {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}
.task {
  border: 1px solid #fff;
  box-shadow: 5px 5px 10px #cccccc, -5px -5px 10px #f4f4f4;
  border-radius: 20px;
  margin: 1rem;
  flex: 1 0 300px; /* Flexbox properties to control width */
  padding: 20px;
}
.task h2 {
  font-size: 18px;
  font-weight: 700;
}
.task p {
  font-size: 16px;
  max-width: 100%;
  font-weight: 400;
  padding-top: 15px;
}
.task button {
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  background-color: #71a894;
  border-radius: 20px;
  padding: 4px 10px;
  font-weight: 800;
  margin-top: 10px;
}
.task-discription {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.view-button .btn {
  color: #fff;
  background-color: #303031;
  align-items: center;
  position: relative;
  margin-top: 50px;
  left: 40%;
  border-radius: 10px;
  padding: 13px 50px;
}
/* footer */
.footer-title h1,
.footer-title h1 span {
  font-family: Bely Display W00 Regular;
  font-size: 48px;
}

.footer-title h1 span {
  color: #71a894;
  border-bottom: 5px solid;
  margin-left: 10px;
}

.footer-title p {
  padding-top: 20px;
  color: #66645e;
  font-size: 18px;
}

.footer-title button {
  border: 0;
  outline: 0;
  color: #fff;
  background-color: #71a894;
  margin-top: 20px;
  padding: 20px 30px;
}
.footer-nav ul{
  padding: 0 10rem 0;
}
.footer-nav li {
  padding-left: 30px;
  font-size: 18px;
  text-wrap: nowrap;
}
.footer-nav li a{
  color: black;
}
.footer-nav .footer-left {
  font-size: 18px;
  padding-right: 45%;
  text-align: center;
  font-weight: 800;
}

.footer-nav .footer-right a {
  color: #71a894;
}

/* responsive */

@media screen and (max-width: 768px) {
  .my-custom-gy-3 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  .header h1,
  .header span {
    font-size: 35px;
  }
  .item-right img {
    width: 700px;
    padding-right: 18rem;
  }
  .item-left {
    padding-right: 20vw;
    padding-top: 2vw;
  }
  .item-right img {
    width: 768px;
  }
  .title h1 {
    font-size: 25px;
  }
  .title p {
    max-width: 500px;
    text-align: center;
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .icon3 {
    width: 505px;
  }
  .info {
    text-align: center;
    margin-right: 3rem;
  }
  .info,
  .card2,
  .card3 {
    display: flex;
    flex-direction: column;
  }
  .Member-box {
    text-wrap: nowrap;
    margin-top: 2rem;
    padding: 30px 60px 20px 20px;
    position: relative;
    left: 15%;
  }
  .card2-info {
    text-align: center;
    margin-left: 6rem;
    margin-top: -5rem;
  }
  .card3-info {
    margin-top: -5rem;
    text-align: center;
  }
  .card3-info p {
    margin-left: 5rem;
  }
  .card3-cards {
    margin-left: 3rem;
  }
  .Enterprice h1 {
    font-size: 37px;
  }
  .Enterprice-tasks,
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-title {
    text-align: center;
    margin-left: 7rem;
  }
  .footer-nav li a {
    font-size: 16px;
  }
  .footer-nav {
    padding-bottom: 1rem;
  }
  .footer-nav .footer-left {
    font-size: 16px;
  }
  .info {
    text-align: center;
  }
  .personal-footer {
    padding: 20px 60px 0;
  }
}
/* 1200px */
@media (max-width: 1200px) {
  .header h1,
  .header span {
    font-size: 45px;
  }
  .title h1 {
    font-size: 37px;
  }
  .info {
    text-align: center;
  }
  .Member-box {
    width: 80%;
    margin-left: 2rem;
  }
  .personal-footer {
    text-align: center;
    margin: auto;
  }
  .top-card {
    align-items: end;
    margin: 0 auto 0;
  }
  .bot-cards {
    position: relative;
    bottom: 4rem;
  }
  .card-left {
    padding: 15px;
    position: relative;
    bottom: 2rem;
  }
  .card-right button {
    padding: 5px 15px;
  }
  .view-button .btn {
    align-items: center;
  }
  .footer-nav .footer-left {
    position:relative;
   left: 30%;
  }
}
/* 992px */
@media (max-width: 992px) {
  .header h1,
  .header span {
    font-size: 40px;
  }
  .item-left {
    text-align: center;
  }
  .item-left p {
    text-align: center;
    margin: auto;
  }
  .item-left button {
    margin-left: 1rem;
  }
  .title h1 {
    font-size: 33px;
  }
  .title p {
    text-align: center;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  }
  .title p {
    font-size: 15px;
  }
  .info {
    margin: auto;
    text-align: center;
  }
  .info h1 {
    font-size: 30px;
  }
  .info p {
    text-align: center;
    margin: 10px auto;
  }
  .Member-box {
    width: 50%;
    left: auto;
    margin: auto;
  }
  .proposal-widget button {
    padding: 10px 50px;
  }
  .card2-info {
    margin-left: 0;
    margin-top: -0.5rem;
  }
  .card3-info {
    text-align: center;
  }
  .top-card {
    position: relative;
    top: 12rem;
  }
  .card-left {
    position: relative;
    top: 17rem;
    left: 1rem;
  }
  .card-right {
    position: relative;
    left: 1px;
    top: 5rem;
  }
  .view-button .btn {
    left: 38%;
  }
  .footer-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .footer-nav li {
    padding: 10px 0; 
    font-size: 18px;
  }
  .footer-nav .footer-left {
    text-align: center;
    font-size: 45px;
   margin-right: 9rem;
  }
}
/* 768x */
@media (max-width: 768px) {
  .header h1,
  .header span {
    font-size: 35px;
  }
  .item-right img {
    width: 100%;
    padding: 0;
    align-items: center;
  }
  .title h1 {
    font-size: 28px;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .card2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .proposal-widget {
    margin-left: 0;
    margin-right: 0;
  }

  .card2-member {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .Member-widget {
    margin: 3vh auto;
  }

  .Member-box {
    padding: 15px;
  }
  .icon3 {
    width: 100%;
  }
  .Member-box {
    width: 64%;
    left: auto;
    margin: 1rem auto 0;
  }
  .info {
    text-align: center;
    align-items: center;
    margin: auto;
  }
  .info h1 {
    font-size: 30px;
  }
  .proposal-widget {
    margin: auto;
  }
  .card2-info {
    padding-top: 6rem;
  }
  .card3-info p {
    text-align: center;
    margin: auto;
  }
  .view-button .btn {
    left: 35%;
  }
  .footer-title{
    text-align: center;
    align-items: center;
    margin: auto;
  }
}
/* 576px */
@media (max-width: 576px) {
  .header h1,
  .header span {
    font-size: 30px;
  }
  .item-right img {
    align-items: center;
    margin: auto;
    padding-right: 3rem;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .title h1 {
    font-size: 20px;
  }
  .Member-box {
    width: 85%;
    left: auto;
    margin: auto;
  }
  .info h1 {
    font-size: 25px;
  }
  .info p {
    font-size: 13px;
    max-width: 300px;
  }
  .info {
    text-align: center;
  }
  .personal-footer {
    padding: 20px 30px 0;
  }
  .proposal-widget {
    margin: auto;
  }
  .card3-info p {
    text-align: center;
    margin: auto;
  }
  .view-button .btn {
    align-items: center;
  left: 25%;
  }
  .footer-nav .footer-left {
    font-size: 30px;
   margin-right: 5rem
  }
}
